@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    @apply text-gray-900 font-body
}

p, ol, ul, blockquote, pre, code {
    line-height: 18px;
    margin-bottom: 18px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}



.navWhite .router-link-exact-active {
    border-bottom: 1px #fff solid;
}

.navBlack .router-link-exact-active {
    border-bottom: 1px #000 solid;
}

@media only screen and (max-width: 768px) {
    .navMenu .router-link-exact-active {
        border-bottom: 1px #fff solid;
    }
}
@responsive {
    .push-0 {
      margin-left: 0;
    }
    .push-1\/2 {
      margin-left: 50%;
    }
    .push-1\/3 {
      margin-left: 33.3333333333%;
    }
    .push-2\/3 {
      margin-left: 66.6666666666%;
    }
    .push-1\/4 {
      margin-left: 25%;
    }
    .push-3\/4 {
      margin-left: 75%;
    }
    .push-1\/6 {
      margin-left: 16.6666666667%;
    }
    .push-1\/12 {
      margin-left: 8.3333333333%;
    }
    .push-5\/12 {
      margin-left: 41.6666666667%;
    }
    .push-7\/12 {
      margin-left: 58.3333333333%;
    }
    .push-11\/12 {
      margin-left: 91.6666666667%;
    }
  }


  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 2em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  p {
    font-size: 1rem;
  }
  


  .page-content{}
  
/* 
.page-enter-active {
    transition: all 0.4s;
}

.page-leave-active {
    transition: all 0.2s;
}

.page-leave-to {
    transform: translateY(50px);
}


.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: translateY(-50px);
}


.layout-enter-active,
.layout-leave-active {
    transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
    filter: grayscale(1);
    opacity: 0;
} */